:root{
    --fondo1C: #ffffff;
    --fondo2C: #e7e9eb;
    --fondo3C: #cccccc;
    --fondo4C: #575f6d;
    --colorLetraC: #000000;
    --fondo1O: #38444d;
    --fondo2O: #1d2a35;
    --fondo3O: #15202b;
    --fondo4O: #171921;
    --colorLetraO: #dddddd;
    --colorAcento: #04aa6d;
    --colorAcentoO: #059862;
    --rojo: #e7afb6;
    --rojoC: #ffc0c7;
    --amarillo: #e7de96;
    --amarilloC: #fff4a3;
    --verde: #c5d9ce;
    --verdeC: #d9eee1;
    --azul: #88c1c2;
    --azulC: #96d4d4;
    --morado: #dcd7d6;
    --moradoC: #f3ecea;
    --gris: #404040;
    --grisC: #808080;
    --alturaFooter: 5vh;
}

* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: var(--colorLetra);
    text-align: left;
}

body.claro {
    --fondo1: var(--fondo1C);
    --fondo2: var(--fondo2C);
    --fondo3: var(--fondo3C);
    --fondo4: var(--fondo4C);
    --colorLetra: var(--colorLetraC);
}

body {
    --fondo1: var(--fondo1O);
    --fondo2: var(--fondo2O);
    --fondo3: var(--fondo3O);
    --fondo4: var(--fondo4O);
    --colorLetra: var(--colorLetraO);
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: var(--fondo2);
    position: relative;
    border: 1px solid var(--fondo2);
}

a:hover {
    color: var(--colorAcento);
}
a:active {
    color: var(--colorAcentoO);
}

header {
    margin:32px 64px 16px;
    border-bottom: 1px solid var(--fondo1);
}
    h1 {

    }
    header h2 {

    }
    header div {
        display: flex;
        justify-content: space-between;
        margin: 16px 16px 8px;
    }
        header a {
            font-weight: bold;
            display: block;
            padding: 8px 16px;
            background-color: var(--colorAcento);
            border-radius: 4px;
            text-decoration: none;
            color: var(--colorLetra);
        }
            header a:hover {
                color: var(--colorLetra);
                background-color: var(--colorAcentoO);
            }
            header a[href=""] {
                pointer-events: none;
                background-color: var(--fondo2);
                border: 1px solid var(--colorLetra);
            }
    
main {
    margin: 8px 16px var(--alturaFooter);
}
    main>:not(p) {
        width: 90%;
        margin: auto;
        margin-bottom: 64px;
    }
    main>table {
        border: 1px solid var(--fondo1);
        border-collapse: collapse;
    }
    main>table tr {

        }
            main>table tr:nth-of-type(2n+1) {
                background-color: var(--fondo1);
            }
            main>table.contenido tr>:nth-of-type(1), main>table.contenido tr>:nth-child(n+3) {
                text-align: center;
            }
            main>table tr>* {
                padding: 4px;
            }
            main>table th {
                font-weight: bold;
            }
            main>table th[rowspan="2"] {
                background-color: var(--fondo2);
            }
            main>table td {

            }

    div#temas {

    }
        div#temas h3 {
            display: block;
            margin: 16px 0 16px;
            border-bottom: 1px solid var(--fondoClaro);
        }
        div#temas ul {
            margin: 8px 16px;
            display: flex;
            flex-wrap: wrap;
        }
            div#temas li {
                display: block;
                min-width: 20%;
                width: fit-content;
                margin: 4px 16px;
            }
                div#temas a {
                    font-weight: bold;
                    display: block;
                    padding: 8px 16px;
                    background-color: var(--colorAcento);
                    border-radius: 4px;
                    text-decoration: none;
                    color: var(--colorLetra);
                    min-height: fit-content;
                    min-width: fit-content;
                }
                    div#temas a:hover {
                        color: var(--colorLetra);
                        background-color: var(--colorAcentoO);
                    }
                    div#temas a[href=""] {
                        pointer-events: none;
                        background-color: var(--fondo2);
                        border: 1px solid var(--colorLetra);
                    }

    div.codigo {
        background-color: var(--colorLetra);
        border-radius: 4px;
        padding: 8px;
    }
            div.codigo span {
                font-family: 'Courier New', Courier, monospace;
            }

    ul.principal {
        margin: 64px auto;
    }
        ul.principal li{
            display: block;
            margin: 16px;
            border-radius: 16px;
        }
            ul.principal li:nth-of-type(1) {
                background-color: var(--morado);
            }
                ul.principal li:nth-of-type(1):hover {
                    background-color: var(--moradoC);
                }
            ul.principal li:nth-of-type(2) {
                background-color: var(--azul);
            }
                ul.principal li:nth-of-type(2):hover {
                    background-color: var(--azulC);
                }
            ul.principal li:nth-of-type(3) {
                background-color: var(--verde);
            }
                ul.principal li:nth-of-type(3):hover {
                    background-color: var(--verdeC);
                }
            ul.principal li:nth-of-type(4) {
                background-color: var(--rojo);
            }
                ul.principal li:nth-of-type(4):hover {
                    background-color: var(--rojoC);
                }
            ul.principal li:nth-of-type(5) {
                background-color: var(--amarillo);
            }
                ul.principal li:nth-of-type(5):hover {
                    background-color: var(--amarilloC);
                }
            ul.principal a{
                font-weight: bold;
                display: block;
                padding: 8px 16px;
                border-radius: 4px;
                text-decoration: none;
                color: var(--fondo4);
                text-align: center;
                font-size: large;
                padding: 32px;
                border-radius: 16px;
            }
                ul.principal a[href=""] {
                    pointer-events: none;
                    background-color: var(--fondo2);
                    border: 4px solid var(--colorLetra);
                    color: var(--colorLetra);
                }

    form {
        background-color: var(--fondo1);
        border-radius: 8px;
    }
        input {
            color: var(--fondo4);
        }
            input[required], input.obligatorio {
                background-color: var(--amarilloC);
            }
            input[disabled], input[readonly] {
                color: var(--gris);
                background-color: var(--grisC);
            }
            input[type="submit"] {
                border: none;
                padding: 8px 16px;
                background-color: var(--colorAcento);
                border-radius: 4px;
                color: var(--colorLetra);
                font-weight: bold;
            }
                input[type="submit"]:hover {
                    background-color: var(--colorAcentoO);
                }
            input[type="radio"], input[type="checkbox"] {
                accent-color: var(--colorAcento);
            }
        p.error {
            color: var(--rojo);
        }

footer {
    background-color: var(--fondo4);
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0%;
    height: var(--alturaFooter);
}
    footer a {
        display: block;
        padding: 16px;
    }
        footer img {
            height: 25px;
            width: 25px;
        }